---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const { data: { session }, error } = await supabase.auth.getSession();

if (session) {
  return redirect("/dashboard");
}

export const prerender = false;
---

<Layout title="Sign in">
  <div class="max-w-md mx-auto mt-24 p-8 bg-white bg-opacity-10 rounded-2xl shadow-lg text-center content-card backdrop-blur-sm gradient-text">
    <h1 class="text-3xl font-bold text-center">Sign in</h1>
    <p class="mb-6 text-center">
      New here? <a href="/register" class="text-white underline">Create an account</a>
    </p>
    <form action="/api/auth/signin" method="post" class="flex flex-col gap-4">
      <label for="email" class="font-semibold">Email</label>
      <input type="email"name="email"id="email"class="p-2 rounded border border-gray-400 caret-white"required/>
      <label for="password" class="font-semibold">Password</label>
      <input type="password"name="password"id="password"class="p-2 rounded border border-gray-400 caret-(--color-muted-green)"required/>
      <button type="submit"class="cursor-pointer mt-4 p-2 bg-[linear-gradient(135deg,_var(--color-sage)_0%,_var(--color-muted-green)_100%)] bg-[length:200%_200%] text-white rounded transition-all duration-500 hover:bg-[linear-gradient(135deg,_var(--color-sage)_0%,_var(--color-muted-green)_100%)] hover:bg-[position:100%_0]">Login</button>
    </form>
  </div>
</Layout>
